In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
music_data=pd.read_csv('music data.csv')
music_data

    AGE  Gender           Genre
0     2       0  Disney Classic
1     4       0  Disney Classic
2     6       0  Disney Classic
3     7       0          Upbeat
4    10       0          Upbeat
5    11       0           Dance
6    13       0           Dance
7    15       0           Dance
8    16       0             R&B
9    18       0             R&B
10   20       0             R&B
11   21       0             Pop
12   26       0             Pop
13   30       0             Pop
14   31       0       classical
15   34       0       Classical
16   40       0       Classical
17    2       1  Disney Classic
18    4       1  Disney Classic
19    6       1  Disney Classic
20    7       1      Soundtrack
21   10       1      Soundtrack
22   11       1             Rap
23   13       1             Rap
24   15       1             Rap
25   16       1             pop
26   18       1             pop
27   20       1             pop
28   21       1             pop
29   26       1             pop
30   30       1             pop
31   31       1       classical
32   34       1       classical
33   40       1       classical

In [5]:

music_data.shape

(34, 3)

In [7]:
#detailed info of the columns
music_data.describe()

             AGE     Gender
count  34.000000  34.000000
mean   17.882353   0.500000
std    11.003483   0.507519
min     2.000000   0.000000
25%    10.000000   0.000000
50%    16.000000   0.500000
75%    26.000000   1.000000
max    40.000000   1.000000

In [9]:
#a 2D array
music_data.values

array([[2, 0, 'Disney Classic'],
       [4, 0, 'Disney Classic'],
       [6, 0, 'Disney Classic'],
       [7, 0, 'Upbeat'],
       [10, 0, 'Upbeat'],
       [11, 0, 'Dance'],
       [13, 0, 'Dance'],
       [15, 0, 'Dance'],
       [16, 0, 'R&B'],
       [18, 0, 'R&B'],
       [20, 0, 'R&B'],
       [21, 0, 'Pop'],
       [26, 0, 'Pop'],
       [30, 0, 'Pop'],
       [31, 0, 'classical'],
       [34, 0, 'Classical'],
       [40, 0, 'Classical'],
       [2, 1, 'Disney Classic'],
       [4, 1, 'Disney Classic'],
       [6, 1, 'Disney Classic'],
       [7, 1, 'Soundtrack'],
       [10, 1, 'Soundtrack'],
       [11, 1, 'Rap'],
       [13, 1, 'Rap'],
       [15, 1, 'Rap'],
       [16, 1, 'pop'],
       [18, 1, 'pop'],
       [20, 1, 'pop'],
       [21, 1, 'pop'],
       [26, 1, 'pop'],
       [30, 1, 'pop'],
       [31, 1, 'classical'],
       [34, 1, 'classical'],
       [40, 1, 'classical']], dtype=object)

In [11]:
#split the data into 2 sets(input and output)
input=music_data.drop(columns=['Genre'])
input

    AGE  Gender
0     2       0
1     4       0
2     6       0
3     7       0
4    10       0
5    11       0
6    13       0
7    15       0
8    16       0
9    18       0
10   20       0
11   21       0
12   26       0
13   30       0
14   31       0
15   34       0
16   40       0
17    2       1
18    4       1
19    6       1
20    7       1
21   10       1
22   11       1
23   13       1
24   15       1
25   16       1
26   18       1
27   20       1
28   21       1
29   26       1
30   30       1
31   31       1
32   34       1
33   40       1

In [13]:
output=music_data['Genre']
output

0     Disney Classic
1     Disney Classic
2     Disney Classic
3             Upbeat
4             Upbeat
5              Dance
6              Dance
7              Dance
8                R&B
9                R&B
10               R&B
11               Pop
12               Pop
13               Pop
14         classical
15         Classical
16         Classical
17    Disney Classic
18    Disney Classic
19    Disney Classic
20        Soundtrack
21        Soundtrack
22               Rap
23               Rap
24               Rap
25               pop
26               pop
27               pop
28               pop
29               pop
30               pop
31         classical
32         classical
33         classical
Name: Genre, dtype: object

In [24]:
#create a model

model= DecisionTreeClassifier()
#train the model
model.fit(input.values,output)
#make prediction
prediction=model.predict([[5,0],[14,1]])#takes 2D array
prediction

array(['Disney Classic', 'Rap'], dtype=object)

In [36]:
#measuring the accuracy
#1.split the data into 2(training(80%),testing(20%))
from sklearn.model_selection import train_test_split#with this function we can easily split our data into 2 sets
from sklearn.metrics import accuracy_score
input_train,input_test,output_train,output_test=train_test_split(input,output,test_size=0.2)#This function returns a tuple so we unpacked it
model.fit(input_train,output_train)
predict=model.predict(input_test)#this input_test contains values for tessting
score= accuracy_score(output_test,predict)#compare
score

1.0